.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        /*max-width: 730px;*/
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
body {
    overflow:hidden;
    padding:0px;
    margin:0px;
}
.container {
    overflow:auto;
    height:500px;
    padding:15px;
    margin:10px auto;
    width:100%;
}
.chatform {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
    border-top: 1px solid black;
}
.iframewrap {
    position: relative;
    float: left;
    padding: 10px;
    margin: 10px;
    border:1px solid black;
}
ul{
    position:absolute;
    list-style-type: none;
}
#draggablePanelList .panel-heading {
    cursor: move;
}
iframe {
    border:0px;
}
#chat {
    height:110px;
    width:100%;
    position:absolute;
    overflow:auto;
    top: 0px;
}
#send {
    float:right;
    height:40px;
    border-radius: 0px;
}
#msg{
    width:80%;
    line-height:40px;
    border:0px;
    float:left;
}
.addnewchat {
    margin-left:10px;
    width: 100%;
    height:50px;
}
